<div class="container-search-content">
    <div class="search">
        
        <span class="search__text">
            <span class="material-symbols-outlined">
                search
            </span>
            <span class="search__text-default">Buscar</span> 
        </span>
        
    </div>
    <aside>
        <article class="last-gossip">
            <h2 class="last-gossip__h2">Últimos chismes</h2>
            <article class="gossip__article">
                <div class="gossip__text">
                    <h3 class="gossip__h3">Covid</h3><span>Last Night</span>
                    <p class="gossip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vel minus exercitationem, aliquam porro iure non, iusto repudiandae minima reiciendis dolorem facilis modi, mollitia laboriosam. Facere, reprehenderit beatae! Eveniet, dolorem!</p>
                </div>
                <img class="gossip__img" src="" alt="">
            </article>
        </article>
    </aside>
</div>