<div class="container-nav">
    <nav class="nav">
        <ul class="nav__ul">
            <li class="logo"><img class="logo__img" src="../../../assets/img/logo.png" alt="logo"></li>
            <li class="nav-option">
                <img class="nav-option__icon" src="../../../assets/img/icons/home-alt-2-regular-24.png" alt="icon Home">
                <span class="nav-option__text">Home</span>
            </li>
            <li class="nav-option">
                <img class="nav-option__icon" src="../../../assets/img/icons/bell-regular-24.png" alt="icon Notifications">
                <span class="nav-option__text">Notifications</span>
            </li>
            <li class="nav-option">
                <img class="nav-option__icon" src="../../../assets/img/icons/message-square-detail-regular-24.png" alt="icon Messages">
                <span class="nav-option__text">Messages</span>
            </li>
            <li class="nav-option">
                <img class="nav-option__icon" src="../../../assets/img/icons/bookmark-regular-24.png" alt="icon BookMarks">
                <span class="nav-option__text">BookMarks</span>
            </li>
            <li class="nav-option">
                <img class="nav-option__icon" src="../../../assets/img/icons/notepad-regular-24.png" alt="icon Lists">
                <span class="nav-option__text">Lists</span>
            </li>
            <li class="nav-option">
                <img class="nav-option__icon" src="../../../assets/img/icons/user-regular-24.png" alt="icon Profile">
                <span class="nav-option__text">Profile</span>
            </li>
            <li class="nav-option">
                <img class="nav-option__icon" src="../../../assets/img/icons/library-regular-24.png" alt="icon More">
                <span class="nav-option__text">More</span>
            </li> 
        </ul>
        <div class="container-gossip-button">
            <button class="gossip-button">Chisme</button>
        </div>
   
    </nav>
</div>
